/*文件共享中心*/
.icon-1222{
	background:url('../images/athrty/1222.png') no-repeat center center;
}

/**个人中心-1370**/
.icon-1370{
	background:url('../images/athrty/1370.png') no-repeat center center;
}

/*启动页*/
.icon-1351{
	background:url('../images/athrty/1351.png') no-repeat center center;
}
/*2~3级图标*/
.icon-logo{
	background:url('../images/athrty/logo.png') no-repeat center center;
}
.icon-farther-logo{
	background:url('../images/athrty/farther_logo.png') no-repeat center center;
}



/*首页*/
.icon-1352{
	background:url('../images/athrty/1352.png') no-repeat center center;
}

/* 商城1291 */
.icon-1291{
	background:url('../images/athrty/1291.png') no-repeat center center;
}

/* 服务1354 */
.icon-1354{
	background:url('../images/athrty/1354.png') no-repeat center center;
}

/* 配置管理-1355 */
.icon-1355{
	background:url('../images/athrty/1355.png') no-repeat center center;
}

/* 消息推送-1099 */
.icon-1099{
	background:url('../images/athrty/1099.png') no-repeat center center;
}

/* 材料库管理-1357 */
.icon-1357{
	background:url('../images/athrty/1357.png') no-repeat center center;
}

/* 个性化业务-1012*/
.icon-1012{
	background:url('../images/athrty/1012.png') no-repeat center center;
}

/* 用户发展类-1044 */
.icon-1044{
	background:url('../images/athrty/1044.png') no-repeat center center;
}

/* 业务接口类-1050 */
.icon-1050{
	background:url('../images/athrty/1050.png') no-repeat center center;
}

/* 业务分析类-1057*/
.icon-1057{
	background:url('../images/athrty/1057.png') no-repeat center center;
}

/* 支付交费类-1189 */
.icon-1189{
	background:url('../images/athrty/1189.png') no-repeat center center;
}

/* 消息推送类-1360*/
.icon-1360{
	background:url('../images/athrty/1360.png') no-repeat center center;
}

/* 计划指标类-1361 */
.icon-1361{
	background:url('../images/athrty/1361.png') no-repeat center center;
}



/*产品管理-1359*/
.icon-1359{
	background:url('../images/athrty/1359.png') no-repeat center center;
}

/* 常见问题管理-1213 */
.icon-1213{
	background:url('../images/athrty/1213.png') no-repeat center center;
}

/* 用户行为管理-1263 */
.icon-1263{
	background:url('../images/athrty/1263.png') no-repeat center center;
}

/* 客服服务管理-1362 */
.icon-1362{
	background:url('../images/athrty/1362.png') no-repeat center center;
}



/* 系统 账号管理-1085 */
.icon-1085{
	background:url('../images/athrty/1085.png') no-repeat center center;
}

/* 短信日报配置管理-1279 */
.icon-1279{
	background:url('../images/athrty/1279.png') no-repeat center center;
}

/* 日志文件管理-1367 */
.icon-1367{
	background:url('../images/athrty/1367.png') no-repeat center center;
}

/* 系统公告管理-1403 */
.icon-1403{
	background:url('../images/athrty/1391.png') no-repeat center center;
}

/*业务监控-1371*/
.icon-1371{
	background:url('../images/athrty/1371.png') no-repeat center center;
}
